.obg {
    background-color: #fff6f6;
    box-shadow: 1px 0px 19px #fad8db;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 10px;
    padding: 5px 87px;
    position: relative;
}

.deleteItem {
    position: absolute;
    top: -5px;
    right: 9px;
    cursor: pointer;
    color: red;
    font-size: 35px;

    &:hover {
        color: orange;
    }
}

.cartImg {
    height: 127px;
    margin-bottom: 10px;
}

.title,
.price {
    color: #1ab787;
}

.starIconOn {
    position: absolute;
    right: 5px;
    cursor: pointer;
}
