.overlay {
    position: absolute;
    background-color: rgba(123, 136, 116, 0.5);
    width: 100%;
    height: 100%;
}

.openModal {
    top: 25%;
    z-index: 1;
    position: fixed;
    width: 300px;
    height: 300px;
    background-color: red;
}

.closeButton {
    position: absolute;
    right: 5px;
    top: 5px;
}

.modalTitle {
    background-color: rgb(192, 4, 4);
    height: 27%;
    margin: 0;
    padding-top: 5%;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.garkBlue {
    background-color: blue;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}
