.card {
    width: 310px;
    margin-bottom: 4%;
}

.tcard {
    display: flex;
    gap: 40px;
    margin-top: 10px;
}

.toList {
    position: absolute;
    top: -30px;
    right: 10px;
    border: none;
    background: transparent;
    color: #f8d7da;
    font-weight: bold;
    font-size: 19px;
    cursor: pointer;

    &:hover {
        color: orange;
    }
}

.cardImg {
    height: 300px;
}

.tcardImg {
    height: 100px;
}

.toCart {
    border: none;
    color: red;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: orange;
        font-weight: 700;
    }
}

.totCart {
    border: none;
    color: red;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;

    &:hover {
        color: white;
        background-color: orange;
        font-weight: 700;
    }
}

.wrapToCart,
.price,
.flex {
    display: flex;
    align-self: center;
}
