.make {
  width: 170px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.wrap {
  margin: 0 auto;
  width: 300px;
  margin-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 25px;
}

.input {
  height: 34px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.submit {
  align-self: center;
  width: 170px;
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

.errors {
  height: 16px;
  font-size: 15px;
  margin: 0;
}
