.obloj {
    background-color: #fff6f6;
    box-shadow: 1px 0px 19px #fad8db;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 5px 87px;
    position: relative;
}

.starIconOn {
    position: absolute;
    right: 9px;
    cursor: pointer;
}

.cartImg {
    height: 127px;
    margin-bottom: 10px;
}

.title,
.price {
    color: #1ab787;
}
